<section id="tienda" class="tienda">
  <div class="container">

    <div class="section-title">
      <span>Tienda</span>
      <h2>Tienda</h2>
      <p>Bienvenido! aqui encontraras todos nuestros productos</p>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="tienda-flters">
          <li (click)="filtrarcar('')">Todos</li>
          <li (click)="filtrarcar('mujer')">Mujer</li>
          <li (click)="filtrarcar('hombre')">Hombre</li>
          <li (click)="filtrarcar('ninos')">Niños</li>
        </ul>
      </div>
    </div>

    <div class="row tienda-container"  data-aos-delay="150">
      
      <div class="col-lg-4 col-md-6 tienda-item border"
            *ngFor='let item of this.productosSer.productosdisp | filtro: filtroCategoria: "categoria"; let i = index'>
        <img [src]="item.data().img" class="img-fluid muestra" [alt]="item.data().nombre" data-toggle="modal" data-target="#bigImg" (click)="showModal(template)">
        <div class="tienda-info">
          <h4>{{item.data().nombre}}</h4>
          <p> <i class="fas fa-tags"></i> {{item.data().precio}} ARS</p>
          <a routerLink='/producto/{{i}}' class="details-link btn btn-dark" title="More Details">Comprar</a>
        </div>

        <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">{{item.data().nombre}}</h4>
              <button type="button" class="close pull-right" aria-label='close' (click)="this.modalRef.hide()">
                <span aria-hidden='true'>&times;</span>
              </button>
            </div>
  
            <div class="modal-body">
              <img [src]="item.data().img" alt="item.data().nombre" class="img-fluid">
            </div>   
        </ng-template>
      </div>

    </div>

  </div>
</section>