<div class="btn-group my-2" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" (click)="ordenes.getOrdenesActivas()">Activos</button>
    <button type="button" class="btn btn-secondary" (click)="ordenes.getOrdenesCompletadas()">Finalizados</button>
</div>

<div class="list-group mb-5">
    <a routerLink='/admin/detalles-ventas/{{i}}' 
       class="list-group-item list-group-item-action"
       *ngFor='let orden of ordenes.ordenes; let i = index'>

      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">ID {{orden.id}}</h5>
      </div>
      <p class="mb-1">Cliente: {{orden.data().comprador.nombre}}</p>
      <p class="mb-1">Contacto: {{orden.data().comprador.email}}</p>
      <p class="mb-1">Direccion: {{orden.data().comprador.direccion}}</p>
      <p class="mb-1">Telefono: {{orden.data().comprador.telefono}}</p>
      <h4 class="mb-1">{{orden.data().estado}}</h4>
      <small>Ver productos.</small>
    </a>
</div>

