  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row justify-content-around">

          <div class="col-lg-4 col-md-6"
                *ngIf='tienda.tiendaInfo'>
            <div class="footer-info">
              <h3>{{tienda.tiendaInfo.nombre}}</h3>
              <p>
                <strong>Telefono:</strong> {{tienda.tiendaInfo.tlf}}<br>
                <strong>Email:</strong> {{tienda.tiendaInfo.mail}}<br>
              </p>
              <div class="social-links mt-3">
                <a [href]="tienda.tiendaInfo.twitter" targetTo='_blank' class="twitter"><i class="fab fa-twitter"></i></a>
                <a [href]="tienda.tiendaInfo.facebook" targetTo='_blank' class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a [href]="tienda.tiendaInfo.instagram" targetTo='_blank' class="instagram"><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links utiles</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a routerLink='/home'>Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink='/tienda'>Tienda</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink=''>Terminos de servicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink=''>Politica de privacidad</a></li>
              <li><i class="bx bx-chevron-right"></i> <a routerLink='/admin'>Admin</a></li>

            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Rocksargentina.com</span></strong> Todos los derechos reservados
      </div>
    </div>
  </footer>