 <header class="top-header">
    <div class="container">
      <nav class="navbar navbar-dark ">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"  style="color: white;"></span>
        </button>
        
        <div class="collapse navbar-collapse mr-auto" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" routerLink=''>Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/tienda'>Tienda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/info'>Preguntas frecuentes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/contacto'>Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/tracker'>Compras</a>
            </li>
          </ul>
        </div>

        <div class="logo ">
          <!-- <a class="navbar-brand logo" routerLink=''>Rock's</a> -->
          <a routerLink='' class="logo mr-auto"><img src="assets/img/Logo.png" alt="" class="img-fluid"></a>
        </div>

        <span class="navbar-text">
          {{carritoService.totalprod}} | <i class="fab fa-opencart" routerLink='/carrito'></i>
           | <i class="fas fa-user" routerLink='/login'></i>
        </span>
        

      </nav>
    </div>
  </header>