<div class="row justify-content-center mt-5">
<div class="col-lg-8 col-sm-12">

<div class="jumbotron text-center">
    <p>Nota: no necesitas tener un usuario registrado para realizar el pedido, al completar la compra se te enviará un mail al correo indicado con los datos para seguir tu pedido, también te recomendamos que guardes el ID que se proveerá inmediatamente después de finalizar la compra.</p>
    <br>
    <br>
    <h2>Como comprar</h2>
    <br>
    <ul>
        <i class="fab fa-opencart"></i>
        <li>Agrega productos</li>
        <p>
            Elige el producto, selecciona la cantidad y el tamaño que deseas y presiona el botón comprar
        </p>
        <br>
        <br>
        <i class="far fa-paper-plane"></i>
        <li>Envía  el pedido</li>
        <p>
            Revisa que tengas todo en tu carrito y rellena los datos que hagan falta, al finalizar presiona el botón de realizar compra
        </p>
        <br>
        <br>
        <i class="fas fa-money-bill-wave"></i>
        <li>Pago</li>
        <p>
            En la sección de pago te aparecerá la información que necesitas para realizar el pago, una vez hecho ingresa el número de referencia de la transacción y presiona finalizar. Listo! tu orden de compra ya fue enviada al equipo de Rock's, te sugerimos que guardes el <strong> código de pedido</strong> para que puedas seguir el estado de tu compra <a routerLink='/tracker'>aqui</a>
        </p>
        <br>
        <br>
        <i class="fas fa-biking"></i>
        <li>Envio</li>
        <p>
            El equipo de Rock's revisará los datos de tu pedido y enviará los productos lo antes posible a la dirección indicada, si necesitas aclarar algo puedes comunicarte con nosotros por <a routerLink='/contacto'> aqui </a>.
        </p>
    </ul>
</div>
</div>
</div>