<div class="jumbotron">
    <h3>Orden No.3</h3>
    <p>Cliente: Pedro Perez</p>
    <p>Email: pedritoperez@algomail.com</p>
    <p>Telefono: 11 628808080</p>
    <p>Direccion: Sanchez de bustamante 811, 3c</p>
    <p>Fecha: 10/07/2020</p>
    <br>
    <br>
    <h4>Productos comprados</h4>
    <p>Pulsera 2, Color azul  <span class="badge badge-dark badge-pill">1</span></p>
    <p>Pulsera 1, Color azul  <span class="badge badge-dark badge-pill">1</span></p>
    <br>
    <br>
    <h4>Detalles de pago</h4>
    <p>Subtotal: 4000 ARS</p>
    <p>Medio de pago: TodoPago TDC</p>
    <p>Status: completado</p>
</div>