<div class="jumbotron">
    <h3>ID {{orden.id}}</h3>
    <p>Cliente: {{orden.data().comprador.nombre}}</p>
    <p>Email: {{orden.data().comprador.email}}</p>
    <p>Telefono: {{orden.data().comprador.telefono}}</p>
    <p>Direccion: {{orden.data().comprador.direccion}}</p>
    <p>Fecha: {{orden.data().fecha}}</p>
    <br>
    <br>
    <h4>Productos comprados</h4>
    <div *ngFor='let item of orden.data().productos'>
        <p>{{item.nombre}} <span class="badge badge-dark badge-pill">{{item.cantidad}}</span></p>
    </div>
    <br>
    <br>
    <h4>Detalles de pago</h4>
    <p>Subtotal: {{orden.data().subtotal}} ARS</p>
    <p>Referencia de pago: {{orden.data().pago}}</p>
    <p>Status: {{orden.data().estado}}</p>
    <br>
    <br>
    <div class="btn-group">
        <button type="button" class="btn btn-dark btn-lg" (click)="actualizarOrden('Confirmado')" >Pago validado</button>
        <button type="button" class="btn btn-dark btn-lg" (click)="actualizarOrden('Enviado')">Enviado</button>
        <button type="button" class="btn btn-dark btn-lg" (click)="actualizarOrden('Completado')">Entregado </button>
    </div>
</div>