.bannerBig{

    margin: 0 0 100px 0;
    padding: 0;
    position: relative;

    img{
        object-fit: cover;
        width: 100%;
        max-height: 500px;
        transform: scaleX(-1);
    }

    .bannerinfo{
        position: absolute;
        top: 50%;
        left: 30px;
        font-size: 18px;
        color: white;
    }
}

.muestraProducto{

    margin: 0 0 100px 0;
    padding: 10px 0 10px 0;

    .modelo img{
        max-width: 100%;
    }

    .producto{
        margin: 0 0 10px 0;
        padding: 0 0 0 10px;
        position: relative;

        img{
            object-fit: cover;
            width: 65%;
            height: 200px;
            position: relative;
        }

        .infoProducto{
            position: absolute;
            bottom: 8px;
            right: 5px;
            padding: 10px;
        }

    }

}