.info-item {
    max-width: 18rem;
    margin: 0 20px 0 20px;
    
    .card-body{
        i{
            font-size: 35px;
            background-color: #0388A6;
            border-radius: 50%;
            color: white;
            padding: 25px;
        }
        h4{
            margin: 10px 0 5px 0;
        }
    }
}