<div class="row">
    <div class="col-lg-4">
        <div class="card bg-light mb-3 info-item shadow">
            <div class="card-body text-center">.
                <i class="fas fa-store "></i>
                <h4>Ventas del mes</h4>
                <p>{{ventas}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-light mb-3 info-item shadow">
            <div class="card-body text-center">.
                <i class="fas fa-tshirt"></i>
                <h4>Productos Vendidos</h4>
                <p>{{totalproductos}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-light mb-3 info-item shadow">
            <div class="card-body text-center">.
                <i class="fas fa-cash-register"></i>
                <h4>Dinero recolectado</h4>
                <p>{{totaldinero}} ARS</p>
            </div>
        </div>
    </div>
</div>
