<section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <span>Contacto</span>
        <h2>Contacto</h2>
        <p>Puedes contactarnos a través de los siguientes canales</p>
      </div>

      <div class="row" >
        <div class="col-lg-4 col-md-6">
          <div class="info-box mb-4">
            <a [href]="tienda.tiendaInfo.instagram"><i class="fab fa-instagram"></i></a>
            <h3>Instagram</h3>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="info-box  mb-4" >
            <a [href]="tienda.tiendaInfo.facebook"><i class="fab fa-facebook-f"></i></a>
            <h3>Facebook</h3>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="info-box  mb-4" >
            <a [href]="tienda.tiendaInfo.wa"><i class="fab fa-whatsapp"></i></a>
            <h3>Whatsapp</h3>
          </div>
        </div>

      </div>
    </div>
  </section>
