<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <div class="section-title">
                <h2>Carrito de compras</h2>
            </div>

            <ul class="list-group my-5">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor='let item of carrito.productos; let i = index'>
                    {{item.nombre}}
                    <span class="badge badge-primary badge-pill">1</span>
                    <i class="fas fa-trash" (click)="quitame(i)"></i>
                </li>
            </ul>

            <h4 *ngIf='carrito.subtotal > 0'>Total de la compra: {{carrito.subtotal}}$</h4>

            <h4 *ngIf='carrito.productos.length == 0'>No tienes productos en el carrito</h4>
            
            <button class="btn btn-lg btn-secondary mx-2 my-5" routerLink='/tienda'>Seguir comprando</button>


            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="nombre">Nombre del comprador</span>
                </div>
                <input type="text" class="form-control" placeholder="Nombre y apellido" name="nombre">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="nombre">Dirección de envio</span>
                </div>
                <input type="text" class="form-control" placeholder="Direccion" required name="direccion">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="nombre">Correo electronico</span>
                </div>
                <input type="email" class="form-control" placeholder="Email" required name="email">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="nombre">Telefono</span>
                </div>
                <input type="number" class="form-control" placeholder="telefolo" name='tlf'>
            </div>

            <button class="btn btn-lg btn-primary mx-2 my-5">Realizar compra</button>
        </div>
    </div>
</div>