<div class="container">
    <div class="row justify-content-center align-items center">
            
        <div class="col-lg-6 my-5">
            <div class="section-title">
                <h2>Detalles de compra</h2>
            </div>
            <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Nombre del comprador</span>
                </div>
                <input type="text" class="form-control" placeholder="Nombre y apellido" name="nombre" [(ngModel)]="comprador.nombre">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Dirección de envio</span>
                </div>
                <input type="text" class="form-control" placeholder="Direccion" required name="direccion" [(ngModel)]="comprador.direccion">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Correo electronico</span>
                </div>
                <input type="email" class="form-control" placeholder="Email" required name="email" [(ngModel)]="comprador.email">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >Telefono</span>
                </div>
                <input type="number" class="form-control" placeholder="telefolo" name='tlf' [(ngModel)]="comprador.telefono">
            </div>
            <button class="btn btn-lg btn-primary mx-2 my-5" (click)="comprame()"> Realizar compra </button>
        </form>
        </div>

        
        <div class="col-lg-4 text-center my-5 bg-light">
            <div class="section-title">
                <h2>
                    {{carrito.totalprod}} | <i class="fab fa-opencart"></i>
                </h2>
            </div>

            <ul class="list-group my-5">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor='let item of carrito.productos; let i = index'>
                    {{item.nombre}}
                    <span class="badge badge-primary badge-pill">{{item.cantidad}}</span>
                    <i class="fas fa-trash" (click)="quitame(i)"></i>
                </li>
                <li *ngIf='carrito.subtotal > 0'
                    class="list-group-item d-flex justify-content-between align-items-center">
                    Total: <span>{{carrito.subtotal}}$ ARS</span>
                </li>
            </ul>


            <h4 *ngIf='carrito.productos.length == 0'>No tienes productos en el carrito</h4>
            
            <button class="btn btn-lg btn-secondary mx-2 my-5" routerLink='/tienda'>Seguir comprando</button>
        </div>
    </div>
</div>